name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Test
        run: python tests/test.py

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ghcr.io/UjjwalKarn954/tradebyte-devops-challenge:latest

  # deploy:
  #   needs: build
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Deploy to AWS
  #       uses: appleboy/ssh-action@master
  #       with:
  #         host: ${{ secrets.AWS_HOST }}
  #         username: ${{ secrets.AWS_USERNAME }}
  #         key: ${{ secrets.AWS_PRIVATE_KEY }}
  #         script: |
  #           ssh -i ${{ secrets.AWS_PRIVATE_KEY }} username@public-ip "docker stop my-python-app || true"
  #           ssh -i ${{ secrets.AWS_PRIVATE_KEY }} username@public-ip "docker rm my-python-app || true"
  #           ssh -i ${{ secrets.AWS_PRIVATE_KEY }} username@public-ip "docker run -d -p 8000:8000 --name my-python-app my-python-app"
